header {
  background-color: #79756f;
  padding: .75em;
}

h1 {
  font-family: bevan, sans-serif;
  line-height: 1.5;
  color: #fff;
  text-align: center;
}

ul {
  font-family: bevan, sans-serif;
  line-height: 1.5;
  color: #fff;
}

nav {
  align-items: center;
}

nav ul{
  list-style: none;
  align-self: center;
}

nav li {
  background-color: #713837;
  padding: .5em;
  display: inline-block;
  margin: .3em;
  text-align: center;
}
