h1 {
  font-family: bevan, sans-serif;
  line-height: 1.5;
  color: #fff;
  text-align: center;
}

ul {
  font-family: bevan, sans-serif;
  line-height: 1.5;
  color: #fff;

}

nav {
  background-color: #79756f;
}

nav ul{
  list-style: none;
  display: inline;
}

nav li {
  background-color: #713837;
  padding: .5em;
  display: inline;
  margin: .3em;
}
