h1 {
  font-family: bevan, sans-serif;
  line-height: 1.5;
  color: #fff;
}

ul {
  font-family: bevan, sans-serif;
  line-height: 1.5;
  color: #fff;

}

nav {
  background-color: #79756f;
}

nav li {
  background-color: #713837;
  padding: .5em;
}
